workflows/n8n/04-review-digest.json
{
  "name": "04 - Review Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 7 * * *"}]
        }
      },
      "id": "d4000001-0001-4000-8000-000000000001",
      "name": "Daily 7AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH params AS (SELECT 30 AS days_ahead, 25 AS min_score, 25 AS top_n)\nSELECT o.notice_id, o.solicitation_number, o.title, o.agency, o.naics, o.set_aside,\n  o.response_deadline, o.ui_link, m.rule_score, m.match_reasons\nFROM opportunities o\nJOIN match_scores m ON m.opportunity_id = o.id\nCROSS JOIN params p\nWHERE o.active = TRUE AND o.source LIKE 'federal:%'\n  AND m.review_status = 'pending' AND m.rule_score >= p.min_score\n  AND (o.response_deadline IS NULL OR o.response_deadline >= NOW())\n  AND (o.response_deadline IS NULL OR o.response_deadline <= NOW() + (p.days_ahead || ' days')::INTERVAL)\nORDER BY m.rule_score DESC, o.response_deadline ASC NULLS LAST\nLIMIT (SELECT top_n FROM params);",
        "options": {}
      },
      "id": "d4000001-0001-4000-8000-000000000002",
      "name": "Query Review Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {"postgres": {"id": "GOVBID_POSTGRES", "name": "GovBid Postgres"}}
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst rows = $input.all().map(i => i.json);\nconst today = new Date().toISOString().slice(0, 10);\nlet md = `# Gov Contracts Review Digest\\n\\nDate: ${today}\\n\\nFound **${rows.length}** opportunities.\\n\\n`;\n\nif (rows.length === 0) {\n  md += '_No opportunities matched filters today._\\n';\n} else {\n  for (const r of rows) {\n    const deadline = r.response_deadline ? new Date(r.response_deadline).toISOString().slice(0, 10) : 'N/A';\n    const link = r.ui_link || '#';\n    md += `## ${r.title || 'Untitled'}\\n`;\n    md += `- **Score:** ${r.rule_score} | **Deadline:** ${deadline}\\n`;\n    md += `- **Agency:** ${r.agency || 'N/A'} | **NAICS:** ${r.naics || 'N/A'}\\n`;\n    md += `- **Sol#:** ${r.solicitation_number || 'N/A'} | **Set-aside:** ${r.set_aside || 'None'}\\n`;\n    md += `- **Reasons:** ${JSON.stringify(r.match_reasons || [])}\\n`;\n    md += `- [View on SAM.gov](${link})\\n\\n`;\n  }\n}\n\nconst filePath = `/data/review-digest-${today}.md`;\nfs.writeFileSync(filePath, md, 'utf8');\n\nreturn [{ json: { file_path: filePath, count: rows.length, markdown_preview: md.slice(0, 500) } }];"
      },
      "id": "d4000001-0001-4000-8000-000000000003",
      "name": "Format and Save Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Daily 7AM ET": {"main": [[{"node": "Query Review Queue", "type": "main", "index": 0}]]},
    "Query Review Queue": {"main": [[{"node": "Format and Save Digest", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "timezone": "America/New_York"},
  "staticData": null,
  "tags": [],
  "meta": {"templateCredsSetupCompleted": false}
}
